html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

h2 {
    margin: 0;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container{
    margin: 0 auto;
    max-width: 1440px;
}

.nav {
    background-color: beige;
    padding: 15px 15px;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    list-style: none;
    line-height: 50px;
    gap: 5%;
}

.nav-link {
    text-decoration: none;
    /* color: #1dd836; */
    color: #fa0808;
    font-family:  'Nuosu SIL', serif;
    font-size: 16px;
}

.nav-link:hover {
    text-decoration: none;
    color: rgb(29, 5, 253);
    transition: color 0.4s;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 0;

    background-color: rgb(255, 249, 241);
}

.foto
 img{
    max-width: 320px;
    border: 3px solid rosybrown;
}

.name { 
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 55px;
    font-family: 'Tai Heritage Pro', serif;
    font-weight: 700;
    color: black;
    padding-top: 15px;
}

.main {
    flex: 1 1 auto;
}

.common{
    display: flex;
    height: 100%;
 }

.contacts{
    display: flex;
    background-color: rgb(208, 211, 212);
    width: 40%;
    justify-content: center;
    align-items: center;
    line-height: 150%;
    padding: 10px;
    font-family: 'Tai Heritage Pro', serif;
    font-weight: normal;
}

.size {
    font-size: 18px;
    line-height: 150%;
}

.social {
    display: flex;
    align-items: center;
}

.telegram-link {
    padding-top: 10px;
}

.telegram-link img {
    width: 35px;
    height: auto;
    padding: 0 15px 0 7px;
}

.viber {
    display: flex;
    align-items: center;
}

.viber-link {
    padding-top: 10px;
    padding-left: 7px;
}

.viber-link img {
    width: 32px;
    height: 32px;
}

.description{
    display: block;
    margin: 0 auto;
    width: 60%;
    background-color: rgb(185, 208, 215);
    padding: 20px;  
}

.title{
    padding: 18px 0;
    font-family: 'Tai Heritage Pro', serif;
    font-size: 26px;
    color: limegreen;
    text-align: center;
}

.description__text{
    line-height: 150%;
    font-family: 'Nuosu SIL', serif;
    font-weight: 400;
    font-size: 18px;
    text-align: start;
    color: black;
    text-indent:25px;
    padding: 0 20px;
}

.list{
    list-style: square;
    padding-left: 25px;

    font-family:  'Nuosu SIL', serif;
    font-weight: 400;
    font-size: 18px;
    position: relative;
}

.progress {
    max-width: 280px;
    width: 100%;
    height: 10px;
    margin-top: 5px;
    background-color: #e71a1ab4;
}
.progress span {
    display: block;
    height: 100%;
}

.progress__html {
    width: 75%;
}

.progress__css {
    width: 55%;
}

.progress__js {
    width: 7%;
}

.progress__figma {
    width: 55%;
}

.progress__photoshop{
    width: 45%;
}

.progress__github {
    width: 50%;
}

.skill__progress {
    background-color: yellowgreen;
}

.list li {
    padding: 5px 0 5px 10px;
}

.flex-li{
    display: flex;
    list-style: square;
    align-items: center;
}


.startcode {
    display: block;
    max-width: 434px;
    overflow-x: auto;
    padding: 0.5em;
    background-color: rgb(233, 218, 218);
    color: #000;
}

.purple {
    color: #660494;
}

.orange {
    color: #e26d0c;
}

.blue{
    color: #0281ca;
}

.project__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.list__item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    cursor: pointer;
}

.list__name {
    padding: 5px 0;
    text-align: center;

    font-family:  'Nuosu SIL', serif;
    font-weight: 700;
    font-size: 18px;
}

.list__link img{
    width: 370px;
    height: 250px;
}

footer
.ft{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(169, 205, 206);
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.github {
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

.github__link {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    text-decoration: none;
}

.github__title {
    padding-top: 5px;
    cursor: pointer;
    color: black;
}

.github__logo {
    padding-left: 10px;
    width: 45px;
    height: auto;
}

footer
.year{
    font-size: 25px;
    color: crimson;
}

footer
.ft
.rss
a
img{
    width: 120px;
    height: 86px;
}

@media (max-width:1312px) {

    .list__link img{
        width: 480px;
        height: auto;
    }

}

@media (max-width:768px) {
    
    .name {
        max-width: 160px;
        padding-right: 25px;
    }

    .common {
        flex-direction: column;
    }

    .contacts{
        width: 100%;
        padding: 15px 0;
    }

    .description {
        width: 100%;
        padding: 0;
    }

    .skills {
        padding: 0 20px;
    }

    .code {
        padding: 0 20px;
    }

    .languges {
        padding: 0 20px;
    }
}

@media (max-width:576px) {
    
    .header__content {
        flex-direction: column;
    }

    .foto {
        text-align: center;
        /* padding: 0 20px; */
    }

    .name {
        max-width: 320px;
        margin: 0 auto;
        padding: 20px;
    }

    .common {
        flex-direction: column;
    }

    .contacts{
        width: 100%;
        padding: 15px 0;
    }

    .description {
        width: 100%;
        padding: 0;
    }

    .list__link img{
        width: 370px;
        height: auto;
    }

}

@media (max-width:378px) {
    
    .wrapper{
        flex-wrap: wrap;
    }

    .name {
        font-size: 46px;
        max-width: 280px;
        margin: 0 auto;
        padding: 20px;
    }

    .foto img {
        transform: scale(0.85);
    }

    footer .ft {
        flex-direction: column;
        gap: 20px;
    }

    footer
    .ft
    .rss
    a
    img{
        width: 120px;
        height: auto;
    }
}